.visitbook-container {
    width: 70vw;
    margin: auto;
}
h1 {
    text-align: center;
    margin: 2em auto 2em auto;
}

.input-container {
    display: flex;
}

#nickname {
    flex: 1 1 10em;
    padding: 5px;
    border: 1px solid #ccc;
}

#comment {
    flex: 1 1 1;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    flex: 1 1 5em;
    padding: 5px;
    cursor: pointer;
    color: white;
    border: none;
}
